* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

/* HEADER STYLE */


header {
    background-color: grey;
    width: 100%;
    height: 50px;
}

#nav {
    height: 100%;
}

header ul {
    height: 100%;

    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.nav-li {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-li:hover {
    background-color:#3383FF;
}

.nav-li:hover a {
    color: white;
}

header ul a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.header {
    padding: 10px;
    text-align: center;
    background:#42A5F5;
    color: rgb(34, 32, 32);
    font-size: 20px;
}
    /* body CONTENT */
    .bigbox {
        color: blue;
        width:950px;
        height: 400px;
        padding:10px;
        border:5px solid black;
        margin:10px;
        margin-top: 180px;
        margin-left:190px ;
        margin-right:200px ;
     }
     .team1 {
        color: blue;
       width: 70px;
       height: 30px;
       padding:20px;
       border:5px solid black;
       margin:10px;
       margin-left:120px ;

     
    }
    .ss {
        
        position: absolute;
        margin-top: 10px;
         left: 645px;
         top: 245px;
         p(font-size:40px);
        color: red
        
    }

     .team2 {                                                                       
        width: 70px;
        height: 30px;
        padding:20px;
        border:5px solid black;
        margin:10px;
        margin-left:120px ;
        margin-top: 50px;
    }
    .beng {
        
        position: absolute;
        margin-top: 120px;
         left: 645px;
         top: 245px;
         p(font-size:60px);
        color: red
    }

    .team3 {
        color: blue;
        width: 70px;
        height: 30px;
        padding:20px;
        border:5px solid black;
        margin:10px;
        margin-left:120px ;
        margin-top: 60px;


    }
   

    .team4 {
        color: blue;
        width: 70px;
        height: 30px;
        padding:20px;
        border:5px solid black;
        margin-top: 0px;
        margin:10px;
         position: absolute;
         left: 895px;
         top: 245px;

        }
        .team5 {
            color: blue;
            width: 70px;
            height: 30px;
            padding:20px;
            border:5px solid black;
            margin-top: 0px;
            margin:10px;
             position: absolute;
             left: 895px;
             top: 380px;
            }
            .bb {
        
                position: absolute;
                margin-top: 280px;
                 left: 645px;
                 top: 245px;
               p(font-size:12px);
                color: red
                
            }
            .team6 {
               color: blue;
                width: 70px;
                height: 30px;
                padding:20px;
                border:5px solid black;
                margin-top: 0px;
                margin:10px;
                 position: absolute;
                 left: 895px;
                 top: 511px;
                }



footer {
    display: flex;
    align-items: center;


}
footer ul {
    display: flex;
    flex-direction: row;
}

footer .nav-li{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 5px;
}
.instagram{
    width: 60px;
    margin-left: 20px;

}
.facebook{
    width: 60px;
    margin-left: 20px;

}
.gmail{
    width: 90px;
    margin-left: 10px;
    margin-right: 150px
}